In [1]:
import sqlite3 as sql
import pandas

In [2]:
# connect to database
conn = sql.connect('NF_player_data.db')

In [3]:
nf_data = pandas.read_csv('C:/Users/Felix/Box Sync/UW/R/nf.csv')
# Example: NF_player_07072021
table_name = input()

NF_player_09152021

In [4]:
# store data
nf_data.to_sql(table_name, conn, if_exists = 'replace', index = False)

In [3]:
# firepower season 12 data store
season_12 = pandas.read_csv('C:/Users/Felix/Box Sync/UW/R/firepower_season12.csv')
season_12['highest_atk'] = season_12['highest_atk'].astype('int')
season_12.to_sql('firepower_season12', conn, if_exists = 'replace', index = False)

In [4]:
season_12.head(10)

             id  total_atk  highest_atk
0          pp12  192980859       455768
1         odmr1  179112155       417525
2      pashi001  138416557       479787
3          kp01  136350004       391438
4      linhai12  134573288       387042
5     a87415661  101765882       352900
6    zjtz000000   97338715       371640
7      huha9999   94826029       488065
8  zxziihanying   92705484       424554
9       gongyun   81854701       385682

In [4]:
# Rename tables if necessary
#cursor = conn.cursor()
#renameTable = "ALTER TABLE NF_player_07282021 RENAME TO NF_player_07262021"
#cursor.execute(renameTable)